nim c \
  -d:danger \
  --threads:off \
  --mm:arc \
  --cc:clang \
  --os:linux \
  --cpu:wasm32 \
  --clang.exe:emcc \
  --clang.linkerexe:emcc \
  --noMain:on \
  --passL:"-Os" \
  --passL:"-sSINGLE_FILE" \
  --passL:"-sWASM_ASYNC_COMPILATION=0" \
  --passL:"-sMODULARIZE" \
  --passL:"-sEXPORTED_FUNCTIONS=_solve,_malloc" \
  --passL:"-sEXPORTED_RUNTIME_METHODS=ccall,UTF8ToString" \
  --passL:"-sALLOW_MEMORY_GROWTH" \
  --passL:"--extern-post-js ${postFn}" \
  -o:${targetFn} \
  ${solutionFn}

esbuild ${targetFn} \
  --target=node20.10.0 \
  --minify \
  --line-limit=100 \
  --platform=node \
  --outfile=${targetFn} \
  --allow-overwrite
